body,  html {
	height: 100%;
	margin: 0;
	padding: 0;
}

nav {
	font-size: medium;
	text-transform: lowercase;
	font-weight: normal;
	vertical-align: middle;
}
#logo {
	padding-top: 7%;
	padding-bottom: 7%;
}

#sidepanel {
	padding-left: 1%;
	padding-right: 1%;
	background-color: #1C1D21;
	height: 100vh;
	width: 11%;
	float: left;
	margin: 0;
	vertical-align: middle;
	text-align: left;
	font-family: "Roboto Thin", sans-serif;
	color: #eeeff7;
}

#map {
	height: 100vh;
	width: 87%;
	float: right;
	margin: 0;
}

/*
 * InfoWindow styling
 */

#iw-container .iw-content {
	height: 160px;
}

#iw-container .iw-summary {
	width: 55%;
	float: left;
}

#iw-container .iw-contacts {
	width: 35%;
	float: right;
	text-wrap: break;
}
#iw-container {
	font-family: "Roboto", sans-serif;
	color: #1C1D21;
	padding: 5px;
	width: 550px;
	word-wrap: break-word;
}

#iw-container .iw-header {
	height: 160px;
}

#iw-container .iw-image {
	width: 30%;
	height: 150px;
	float: left;
}

#iw-container .iw-category {
	font-weight: bold;
	font-size: x-large;
	background-color: #e76124;
	color: #eeeff7;
}

#iw-container .iw-header-text {
	float: right;
	width: 70%;
}
#iw-container .iw-title {
	font-weight: bold;
	color: #e76124;
	text-transform: uppercase;
	font-size: 18px;
}

#iw-container .iw-researchers {
	font-size: 12px;
	padding-top: 15px;
	font-style: italic;
}

#iw-container .iw-subtitle {
	font-weight: bold;
	font-size: 16px;
	padding-top: 15px;
	text-transform: uppercase;
}

#iw-container .iw-content-text {
	font-size: 14px;
	padding-top: 15px;
}

#iw-container .iw-tags {
	padding-top: 15px;
}

/*
 * Accordation styling
 */
button.accordion {
	background-color: #1C1D21;
	color: #eeeff7;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
	transition: 0.4s;
}

button.accordion.active, button.accordion:hover {
	background-color: #e76124;
}

button.accordion:after {
	content: '\02795';
	font-size: 13px;
	color: #eeeff7;
	float: right;
	margin-left: 5px;
}

button.accordion.active:after {
	content: "\2796";
}

div.panel {
	padding: 0 7%;
	background-color: #31353D;
	max-height: 0;
	overflow: hidden;
	transition: 0.6s ease-in-out;
	opacity: 0;
}

div.panel.show {
	opacity: 1;
	max-height: 500px;
	overflow: auto;
}

form {
	margin: 10px;
	width: 100%;
}

#search {
	padding-top: 10%;
	padding-bottom: 10%;
}

.material-icons {
	vertical-align: middle;
}

